@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../node_modules/bootstrap/scss/functions";

@import "./stylesheet/variables";


$main-color: #ff9800; 
$price-color2:#f07a25;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

